<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/featured/?cinema,movies);">
  <div class="container">
    <h1><strong>Save any kind of movies</strong></h1>
    <p>The best lists of all</p>
  </div>
</div>

<div class="container">
  <h1>My lists</h1>
  <ul>
    <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list.id)%></li>
    <% end %>
  </ul>
</div>
