<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/featured/?cinema,movies);">
  <div class="container">
    <h1><strong>Save any kind of movies</strong></h1>
    <p>The best lists of all</p>
  </div>
</div>



<div class="container">
  <div class="my-lists">
    <h1>My lists</h1>
    <div id="card-lists">
      <% @lists.each do |list| %>
      <div id="bookmark">
        <div class="card-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
          <%= cl_image_tag("niodssjlidyhwt0fbtsg", width: 400, height: 300, crop: :fill) %>
        </div>
        <div class="card-body">
          <h3><%= link_to list.name, list_path(list.id)%></h3>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
