// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";

.my-lists {
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

li {
  padding: 40px 0px 0px 0px;
}

.new-list {
  margin-top: 50px;
  text-align: center;
   h1 {
    margin-bottom: 45px;
   }
}

.links-to-go-back {
  width: 150px;
  border-radius: 4px;
  margin: 50px 0px;
  text-align: center;
  background-color: blue;
   a {
     color: white;
   }
}

#card-lists {
  display: flex;
  justify-content: space-evenly;
}



.list-details {
  margin-top: 50px;
  text-align: center;
}

.all-bookmarks {
  width: 700px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: space-between;
}

#bookmark {
  margin-top: 10px;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  width: 340px;
}

.card-pic {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}


.add-new {
  margin-top: 100px;
  background-color: orange;
  border: 1px solid lightgrey;
  border-radius: 5px;
   h1, h3 {
    text-align: center;
  }
}

.sub-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}








