// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";

.my-lists {
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 40px 0px 0px 0px;
}


